<div class="wrapper">
  <section class="grid-container">
    <div class="grid-elem">
      <a [routerLink]="['/protected', 'task']">
        <img src="assets/folder.png" alt="folder">
        <p>task</p>
      </a>
    </div>
    <div class="grid-elem">
      <a href="#">
        <img src="assets/doc.png" alt="document">
        <p>report.doc</p>
      </a>
    </div>
    <div class="grid-elem">
      <a href="#">
        <img src="assets/doc.png" alt="document">
        <p>schedule.doc</p>
      </a>
    </div>
    <div class="grid-elem">
      <a href="#">
        <img src="assets/image.png" alt="image">
        <p>place.img</p>
      </a>
    </div>
  </section>
</div>
<router-outlet></router-outlet>
